/**
 * Clearfix by Nicolas Gallagher
 * http://nicolasgallagher.com/micro-clearfix-hack
 */
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.input {
  border: 1px solid rgb(237, 239, 241);
  padding: 13px 15px;
  border-radius: 2px;
  color: black;
  box-sizing: border-box;

  &:focus {
    border-color: darken(rgb(237, 239, 241), 10%);
  }
}

.button {
  display: inline-block;
  padding: 7px 10px;
  border-radius: 2px;
  border: 1px solid $brand-color;
  background-color: rgb(255,255,255);
  color: $brand-color;
  text-align: center;

  &:hover {
    background-color: $brand-color;
    color: rgb(255,255,255);
  }

  &:focus {
    outline: 0;
  }
}

.button--green {
  @extend .button;

  padding: 13px 10px;
  border: 0;
  background-color: $accent-color;
  color: rgb(255,255,255);

  &:hover {
    background-color: darken($accent-color, 10%);
  }
}
