<li class="author-listing-card">
  <%= link_to author_path(author, { :class => 'author-listing-link' }) do %>
    <span class="author-listing-image"
          style="background-image: url(<%= asset_path 'authors/' + author.slug + '.jpg' %>)"></span>

    <h2 class="author-listing-name"><%= author.name %></h2>
    <small class="author-listing-meta"><%= pluralize author.stories.size, 'story' %></small>

    <p class="author-listing-bio"><%= author.bio %></p>
  <% end %>

  <a class="button author-listing-button" href="<%= author_path(author) %>">View</a>
</li>
