<% title 'Authors' %>

<script type="text/javascript">
  mixpanel.track('Viewed Author Listing');
  mixpanel.track_links('.author-listing-card a', 'Opened an Author', function (element) {
    return {
      'Name': $(element).find('.author-listing-name').text()
    };
  });
</script>

<div class="l-container">
  <div class="l-page">
    <h1 class="l-page-header">Authors</h1>
    <h2 class="l-page-subheader">These are the <%= @authors.size %> fantastic authors we track.</h2>

    <ul class="author-listing">
      <%= render @authors %>
    </ul>
  </div>
</div>
