<% title @author.name %>

<div class="l-container">
  <div class="l-page">
    <div class="author-details">
      <div class="author-details-header">
        <a class="button author-back-button" href="<%= authors_path %>">&#10094; Authors</a>
        <span class="author-details-image" style="background-image: url(<%= asset_path 'authors/' + @author.slug + '.jpg' %>)"></span>
        <h1 class="author-details-name"><%= @author.name %></h1>
        <% if @author.twitter_handle.present? %>
          <a class="author-details-twitter"
             href="http://www.twitter.com/<%= @author.twitter_handle %>"
             target="_blank">@<%= @author.twitter_handle %></a>
        <% end %>

        <p class="author-details-bio"><%= @author.bio %></p>
      </div>

      <ul class="author-details-article-listing">
        <% @author.stories.each do |story| %>
          <li class="author-details-article-item">
            <a href="<%= story.url %>" target="_blank">
              <small class="author-details-article-time"><%= distance_of_time_in_words(Time.now, story.published_at) %> ago</small>
              <h2 class="author-details-article-title"><%= story.title %></h2>
              <% if story.synopsis.present? %>
                <p class="author-details-article-synopsis"><%= story.synopsis %></p>
              <% end %>
            </a>
            <a class="author-details-article-link" href="<%= story.url %>" target="_blank">Read full story at <%= story.source.site.name %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
