<header class="l-header">
  <div class="l-container">
    <div class="l-header-left">
      <a class="l-header-logo" href="<%= root_path %>">
        <%= inline_svg 'logo.svg' %>
      </a>

      <nav class="l-site-nav">
        <ul>
          <li class="l-site-navitem">
            <%= site_link 'Stories', root_path, :class => 'site-link' %>
          </li>
          <li class="l-site-navitem">
            <%= site_link 'Authors', authors_path, :class => 'site-link' %>
          </li>
          <li class="l-site-navitem">
            <div class="more-button">
              <%= inline_svg 'icon-more.svg' %>
              <label class="more-button-toggle-label" for="more-button-toggle-input"></label>
              <input class="more-button-toggle-input" id="more-button-toggle-input" type="checkbox">
              <ul class="more-button-callout">
                <%= nav_link 'About', about_path, :class => 'more-button-link' %>
                <%= nav_link 'FAQ', faq_path, :class => 'more-button-link' %>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>

    <div class="l-header-right">
      <div class="l-header-search" href="#">
        <form class="search" onkeypress="return event.keyCode != 13;">
          <input class="search-input" name="query" id="query" type="search" placeholder="Search for featured stories and authors">
          <label class="search-label" for="query"><%= inline_svg 'icon-search.svg' %></label>
          <label class="search-close"><%= inline_svg 'icon-close.svg' %></label>
        </form>
      </div>
      <a class="l-header-login-button" href="#">Login</a>
    </div>
  </div>
</header>
