<div class="l-navigation">
  <div class="l-container">
    <ul class="nav">
      <%= nav_link 'All', root_path, :class => 'nav-item' %>
      <% @navigations.each do |category| %>
        <%= nav_link category.title, category_url(category.slug), :class => 'nav-item' %>
      <% end %>
    </ul>
  </div>
</div>
