Popular this week
=================

<% @top_stories.each do |story| %>
<%= story[:story].title %> by <%= story[:story].source.author.name %>
<%= story[:story].synopsis %>
Read full story at <%= story[:story].url %>

<% end %>
