<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content-block">
      <h3 class="aligncenter main-title uppercased">Popular this week</h3>
      <% @top_stories.each do |story| %>
        <a href="<%= story[:story].url %>">
          <div class="digest-story">
            <strong class="digest-story-title"><%= story[:story].title %></strong>
            <div>by <%= story[:story].source.author.name %></div>
            <p><%= story[:story].synopsis %></p>
          </div>
        </a>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="content-block aligncenter last" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
      <a href="http://www.getread.in/?utm_source=getread.in&utm_medium=email&utm_campaign=weeklydigest" class="btn-primary" itemprop="url">View latest stories</a>
    </td>
  </tr>
</table>
