<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:300,400,700' %>
    <%= stylesheet_link_tag 'mail' %>
  </head>
  <body itemscope itemtype="http://schema.org/EmailMessage">
    <table class="body-wrap">
      <tr>
        <td class="container">
          <div class="content">
            <div class="header">
              <table width="100%">
                <tr>
                  <td class="aligncenter">
                    <a href="http://www.getread.in">
                      <img src="<%= Rails.configuration.x.asset_host + image_url('logo.png') %>" class="logo">
                    </a>
                  </td>
                </tr>
              </table>
            </div>
            <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
              <tr>
                <td class="content-hero aligncenter">
                  <img src="<%= Rails.configuration.x.asset_host + image_url('tick.png') %>" width="20%">
                  <h2 class="content-hero-h1"><strong>We've signed you up!</strong></h2>
                </td>
              </tr>
              <tr>
                <td class="content-wrap aligncenter">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="content-block">
                        Your Sunday mornings will be more enlightening than ever. We will send you the best stories of the week, each Sunday morning.
                      </td>
                    </tr>
                    <tr>
                      <td class="content-block aligncenter last" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                        <a href="http://www.getread.in/?utm_source=getread.in&utm_medium=email&utm_campaign=weeklydigest" class="btn-primary" itemprop="url">View latest stories</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="footer aligncenter">
              <table width="100%">
                <tr>
                  <td>Made by <a href="http://www.getread.in">GetRead.in</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a href="http://twitter.com/getreadin">Twitter</a></td>
                </tr>
                <tr>
                  <td> Vadodara City&nbsp;&nbsp;•&nbsp;&nbsp;390019&nbsp;&nbsp;•&nbsp;&nbsp;India</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
