<% title 'About' %>

<div class="l-container">
  <div class="l-page">
    <div class="about">
      <p class="about-hero">
        GetRead.in is a place to find the best content to read, every day. We track the best stories only from the best authors. It is meant for the people who are passionate about and appreciate good write-ups.
      </p>

      <p class="about-fineprint">
        We are an aggregator of stories from around publishers like Firstpost, Economic Times, Hindustan Times and Swarajya. All credit for the stories lie with them and we do not take credit for the stories and authors. We are passionate to improve the story reading experience by bringing the best stories in one place and allowing you to be able to remain notified about them.
      </p>

      <div class="faq-link">If you have any question, check out our <%= link_to('FAQ', faq_path) %></div>
      <div class="contact-mail">Or you could contact us at <a href="mailto:contact@getread.in">contact@getread.in</a></div>
    </div>
  </div>
</div>
