<% title 'FAQ' %>

<div class="l-container">
  <div class="l-page">
    <h1 class="l-page-header">Frequently Asked Questions</h1>
    <h2 class="l-page-subheader"><%= link_to('Find information about us here', about_path) %></h2>

    <div class="faq-section">
      <h3 class="faq-question">
        What is GetRead.in?
      </h3>
      <p class="faq-answer">
        GetRead.in is the place to find an excellent collection of curated stories everyday. We track stories only from the best authors and list it.
      </p>

      <h3 class="faq-question">
        There is a good author that you missed, how do I submit the author?
      </h3>
      <p class="faq-answer">
        Currently we don't allow users to suggest authors. But it is currently a work in progress. Soon, you'll be able to suggest authors. We will check the suggestions and if we like we would start tracking them right away.
      </p>

      <h3 class="faq-question">
        Why do stories open on other sites?
      </h3>
      <p class="faq-answer">
        The stories we track are a property of their respective sites and publishers. We are simply an aggregator that brings all of them together. We strongly believe that the stories belong to the publishers and should stay with them. We simply want to improve the visibility of the stories and the authors who work hard on them. We hope that we would be able to do so.
      </p>

      <h3 class="faq-question">
        Do you have a mobile app?
      </h3>
      <p class="faq-answer">
        Right now we don't. We know we should. But we are working hard on building the base first. The work on the App will begin very soon. Keep watching this space.
      </p>

      <h3 class="faq-question">
        How can I reach you?
      </h3>
      <p class="faq-answer">
        Feel free to reach us by email at <a href="mailto:contact@getread.in">contact@getread.in</a> or on Twitter (<a href="http://www.twitter.com/getreadin">@GetReadin</a>).
      </p>
    </div>
  </div>
</div>
