<script type="text/javascript">
  mixpanel.track_links('.story', 'Opened a Story', function (element) {
    return {
      'Story URL': $(element).attr('href'),
      'Story Title': $(element).find('.story-title').text(),
      'Author': $(element).find('.story-author-image').data('author'),
      'Source Site': $(element).find('.story-site-image').data('site')
    };
  });
</script>

<ul class="l-listing">
  <% index = 0 %>
  <% story_groups.each do |key, group| %>
    <% next if group[:stories].size <= 0 %>

    <li class="l-listing-section">
      <div class="l-listing-header">
        <div class="section-heading">
          <h2 class="section-title"><%= group[:label] %></h3>
          <h3 class="section-descriptor"><%= group[:name] %></h4>
        </div>
      </div>

      <div class="l-container">
        <ul class="stories">
          <% group[:stories].each do |story| %>
            <% if index == 3 && !cookies[:hide_subscription_banner] %>
              <li class="l-subscription-item">
                <%= react_component('SubscriptionBannerItem', {}, {prerender: true}) %>
              </li>
            <% end %>

            <li class="l-story-item">
              <a class="story" href="<%= story.url %>" target="_blank">
                <span class="story-author-image-cell">
                  <span class="story-author-image"
                        data-author="<%= story.source.author.name %>"
                        style="background-image: url(<%= asset_path 'authors/' + story.source.author.slug + '.jpg' %>)"></span>
                </span>
                <span class="story-content-cell">
                  <h4 class="story-title"><%= story.title %></h4>
                  <small class="story-author-name"><%= story.source.author.name %></small>
                </span>
                <span class="story-site-image-cell">
                  <span class="story-site-image"
                        data-site="<%= story.source.site.name %>"
                        style="background-image: url(<%= asset_path 'sites/' + story.source.site.slug + '.png' %>)"></span>
                </span>
              </a>
            </li>
            <% index = index + 1 %>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>
