<% title @category.title %>

<script type="text/javascript">
  mixpanel.track('Viewed Category Page', {
    Category: '<%= @category.title %>'
  });
</script>

<%= render partial: 'listing', locals: {story_groups: @story_groups} %>

<% parent_layout "story" %>
