.about-hero {
  max-width: 700px;
  line-height: 1.5;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 21px;
  color: $brand-color;

  @media only screen and (max-width : 600px) {
    padding: 0 20px;
    font-size: 18px;
  }
}

.about-fineprint {
  max-width: 500px;
  margin: 50px auto 50px;
  text-align: center;
  color: rgba(0,0,0,0.3);

  @media only screen and (max-width : 600px) {
    padding: 0 20px;
  }
}

.faq-link {
  display: block;
  text-align: center;
  margin: 20px 50px 0;
  color: rgba(0,0,0,0.6);
}

.contact-mail {
  text-align: center;
  margin: 5px 50px 20px;
  color: rgba(0,0,0,0.6);
}

.faq-link a,
.contact-mail a {
  color: $accent-color;
}
