.author-listing {
  @extend %clearfix;
  margin-top: 40px;
}

.author-listing-card {
  position: relative;
  width: 30%;
  height: 320px;
  float: left;
  margin: 5% 5% 5% 0;
  border: 1px solid $background-color;
  padding: 20px 30px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.02);
  transition: 0.4s box-shadow;
  cursor: pointer;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media only screen and (max-width : 870px) {
    width: 32%;
    margin: 5% 2% 5% 0;
  }

  @media only screen and (max-width : 700px) {
    width: 48%;
    margin: 5% 4% 5% 0;

    &:nth-child(3n) {
      margin-right: 4%;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media only screen and (max-width : 550px) {
    width: 100%;
    margin: 0 0 10px;
    height: auto;

    &:nth-child(3n) {
      margin-right: 4%;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.author-listing-link {
  position: relative;
  display: block;
}

.author-listing-card:hover {
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1),0 1px 1px 0 rgba(0,0,0,0.02);
}

.author-listing-image {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%,0);
  border: 1px solid $background-color;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  border-radius: 100%;
  background-color: rgb(255,255,255);
  background-size: cover;

  @media only screen and (max-width : 550px) {
    display: none;
  }
}

.author-listing-name {
  margin: 30px 0 0;
  text-align: center;

  @media only screen and (max-width : 550px) {
    margin-top: 0;
  }
}

.author-listing-meta {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  color: $accent-color;
}

.author-listing-bio {
  font-weight: $font-weight-light;
  text-align: center;
}

.author-listing-button {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;

  @media only screen and (max-width : 550px) {
    position: static;
    width: 100%;
  }
}

.author-details-header {
  position: relative;
  max-width: 500px;
  margin: auto;
  border-bottom: 1px solid $background-color;
  padding-bottom: 40px;
  text-align: center;
}

.author-back-button {
  position: absolute;
  left: 0;
  border-radius: 100px;
  font-size: 12px;
}

.author-details-image {
  display: block;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 100%;
  background-color: rgb(255,255,255);
  background-size: cover;
}

.author-details-name {
  margin: 20px 0 0;
  font-size: 32px;
  font-weight: $font-weight-normal;
}

.author-details-twitter {
  display: inline-block;
  margin-top: 5px;
  border: 1px solid $twitter-color;
  padding: 2px 6px;
  color: $twitter-color;
  border-radius: 20px;
  font-size: 12px;

  &:hover {
    background-color: $twitter-color;
    color: rgb(255,255,255);
  }
}

.author-details-bio {
  margin: 20px 0 0;
  font-size: 17px;
  color: rgba(0,0,0,0.5);
  line-height: 1.5;
}

a[data-readmore-toggle] {
  font-size: 17px;
}


.author-details-article-item {
  max-width: 500px;
  margin: auto;
  border-bottom: 1px solid $background-color;
  padding: 20px 0;

  &:last-child {
    border-bottom: 0;
  }
}

.author-details-article-time {
  color: rgba(0,0,0,0.4);
}

.author-details-article-title {
  color: rgb(0,0,0);
}

.author-details-article-synopsis {
  color: rgba(0,0,0, 0.7);
}

.author-details-article-link {
  display: block;
  margin-top: 20px;
  color: $accent-color;

  &:hover {
    color: darken($accent-color, 12%);
  }
}
