.faq-question {
  margin-top: 45px;
  font-weight: $font-weight-normal;
  font-size: 19px;

  @media only screen and (max-width : 600px) {
    font-size: 17px;
  }
}

.faq-answer {
  color: rgba(0,0,0,0.4);
  font-size: 17px;

  @media only screen and (max-width : 600px) {
    font-size: 14px;
  }
}
