.more-button {
  position: relative;

  @media only screen and (max-width : 600px) {
    height: 48px;
  }
}

.more-button-toggle-label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.more-button-toggle-input {
  display: none;
}

.more-button-callout {
  position: absolute;
  z-index: 101;
  left: 50%;
  transform: translate(-50%, -8px);
  width: 175px;
  visibility: hidden;
  opacity: 0;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15),0 1px 3px 0 rgba(0,0,0,0.25);
  background-color: rgb(255,255,255);
  transition: all 0.12s ease-in;

  @media only screen and (max-width : 600px) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 48px;
    width: 100%;
    transform: translate(0, 0);
    border-top: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    box-shadow: none;
    border-radius: 0;
  }
}
.more-button-callout:before,
.more-button-callout:after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;

  @media only screen and (max-width : 600px) {
    display: none;
  }
}
.more-button-callout:before {
  border-bottom-color: rgba(0,0,0,0.15);
  margin-left: -11px;
  border-width: 11px;
}
.more-button-callout:after {
  border-bottom-color: rgb(255,255,255);
  margin-left: -10px;
  border-width: 10px;
}

.more-button-toggle-input:checked ~ .more-button-callout {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -4px);

  @media only screen and (max-width : 600px) {
    transform: translate(0, 0);
  }
}

.more-button-link {
  display: block;
  padding: 0 20px;
  line-height: 28px;
  font-weight: $font-weight-light;
}
.more-button-link:hover {
  background-color: $background-color;
}

.more-button-link a {
  display: block;
}

.more-button-link--active {
  @extend .more-button-link;
  font-weight: $font-weight-bold;
}
