.nav {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 0;
  font-weight: $font-weight-light;
}

.nav-item {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 11px;
  text-transform: uppercase;
}

.nav-item a {
  display: block;
  color: rgb(255,255,255);
}

.nav-item--active {
  @extend .nav-item;

  position: relative;
  font-weight: $font-weight-bold;
}
.nav-item--active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: $accent-color;
  bottom: 0;
  left: 0;
}


@media screen and (max-width: 600px) {
  .nav {
    position: relative;
    height: auto;
    line-height: 35px;
    padding: 5px 30px;
  }
  .nav:after {
    content: image-url('icon-down-arrow.svg');
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .nav.is-open:after {
    content: image-url('icon-up-arrow.svg');
  }

  .nav-item {
    display: none;
    margin: auto;
  }

  .nav-item--active {
    display: block;
  }

  .nav-item--active:after {
    display: none;
  }
}
