.search {
  position: relative;
}

.search.is-active {
  z-index: 401;
}

.search-input {
  box-sizing: border-box !important;
  max-width: 300px;
  width: 300px;
  height: 38px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 3px;
  font-size: 13px;

  @media only screen and (max-width : 720px) {
    display: none;
    max-width: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
  }
}

.search-input:focus {
  border-color: rgba(0,0,0,0.18);
}

.search-label,
.search-close {
  position: absolute;
  top: 0;
  right: 10px;
}

.search-label path {
  stroke: rgba(0,0,0,0.15);
  fill: rgba(0,0,0,0.15);

  @media only screen and (max-width : 720px) {
    stroke: #183D68;
    fill: #183D68;
  }
}

.search-close {
  right: 0;
  display: none;
  padding: 0 10px;
  z-index: 301;
}

.search-close path {
  fill: rgba(0,0,0,0.15);
}
