.section-heading {
  display: inline-block;
  text-transform: uppercase;
}

.section-title {
  margin: 0;
  line-height: 24px;
  font-size: 18px;
  font-weight: $font-weight-bold;
}

.section-descriptor {
  margin: 0;
  line-height: 13px;
  color: #bbbbbb;
  font-size: 12px;
  font-weight: $font-weight-normal;
}
