.stories {
  background-color: rgb(255,255,255);
  border-radius: 2px;
}

.story {
  display: table;
  width: 100%;
  padding: 20px;
  border-radius: 3px;
}
.story:hover {
  background-color: #f7f7fa;
}

.story-author-image-cell,
.story-content-cell,
.story-site-image-cell {
  display: table-cell;
  vertical-align: middle;
}

.story-author-image-cell,
.story-site-image-cell,
.story-author-image,
.story-site-image {
  width: 48px;
  height: 48px;
}

.story-author-image,
.story-site-image {
  display: block;
  background-repeat: no-repeat;
}

.story-author-image {
  margin-right: 15px;
  border-radius: 100%;
  background-size: cover;
}

.story-site-image {
  margin-left: 15px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.story-title {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: $font-weight-normal;
  color: #000;

  @media only screen and (max-width : 560px) {
    font-size: 16px;
  }
}

.story-author-name {
  display: block;
  font-size: 15px;
  font-weight: $font-weight-light;
  color: #999;

  @media only screen and (max-width : 560px) {
    font-size: 14px;
  }
}
