function initSearch() {
  $('.search-input').swiftype({
    engineKey: '<%= ENV['SWIFTYPE_ENGINE_KEY'] %>',

    onComplete: function () {
      // overriding the default handler
    },

    renderFunction: function(document_type, item) {
      return '<a class="title" href="' + item['url']
        + '" target="_blank">' + Swiftype.htmlEscape(item['title']) + '</a>';
    },

    onSearch: function (term) {
      mixpanel.track('Did a Search', {
        'Search Term': term
      });
    }
  });
}

$(document).ready(initSearch)
$(document).on('page:load', initSearch)
