* {
  box-sizing: border-box;
}

body {
  font-family: $family;
  font-size: $font-size;
  background-color: rgb(255,255,255);
}

body.story-listing {
  background-color: $background-color;
}

a {
  color: $brand-color;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input:focus,
select:focus {
  outline: 0;
}

svg {
  display: block;
}
