.l-container {
  @extend %clearfix;

  margin: 0 auto;
  max-width: 960px;
  min-width: 300px;
  padding: 0 10px;
  position: relative;
}

.l-header {
  height: 70px;
  font-size: 0;
  background-color: rgb(255,255,255);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.l-header svg {
  height: 70px;
}

.l-header-left {
  float: left;

  @media only screen and (max-width : 600px) {
    width: 110px;
    position: relative;
    z-index: 301;
  }
}

.l-header-right {
  float: right;

  @media only screen and (max-width : 720px) {
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: right;
  }
}

.l-header-logo,
.l-site-nav,
.l-header-search {
  display: inline-block;
  vertical-align: top;
  height: 70px;
  line-height: 70px;
  font-size: $font-size;
}

.l-site-nav {
  margin-left: 36px;

  @media only screen and (max-width : 600px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 201;
    width: 100%;
    height: 48px;
    display: table;
    margin-left: 0;
    line-height: 48px;
    background-color: rgb(255,255,255);
    text-align: center;
    box-shadow: 0 0 1px rgba(0,0,0,0.44);
  }
}

.l-site-nav ul {
  @media only screen and (max-width : 600px) {
    display: table-row;
  }
}

.l-site-nav svg {
  @media only screen and (max-width : 600px) {
    height: 48px;
    display: inline-block;
  }
}

.l-site-navitem {
  float: left;
  margin-right: 16px;

  @media only screen and (max-width : 600px) {
    display: table-cell;
    vertical-align: top;
    float: none;
    border-left: 1px solid $background-color;
  }
}

.l-header-login-button {
  display: inline-block;
  line-height: 34px;
  margin: 17px 0 17px 17px;
  border: 1px solid $brand-color;
  padding: 0 20px;
  border-radius: 3px;
  font-size: $font-size;
  display: none;
}

.l-header-search {
  @media only screen and (max-width : 720px) {
    display: block;
  }
}

.l-navigation {
  margin-bottom: 30px;
  background-color: $brand-color;
}

.l-listing-section {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.l-listing-section .l-container {
  @media only screen and (max-width : 640px) {
    padding: 0;
  }
}

.l-listing-header {
  margin-bottom: 30px;
  text-align: center;
}

.l-story-item {
  border-bottom: 1px solid $background-color;
}
.l-story-item:last-child {
  border-bottom: 0;
}

.l-subscription-item {
  @extend .l-story-item;
}
.subscription-banner-item {
  display: table;
  width: 100%;
  padding: 30px 40px;
}
.l-subscription-copy,
.l-subscription-form-holder {
  display: table-cell;
  vertical-align: middle;

  @media only screen and (max-width : 790px) {
    display: block;
  }
}
.l-subscription-copy {
  width: 400px;

  @media only screen and (max-width : 790px) {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
}
.subscription-title,
.subscription-para {
  margin-right: 35px;

  @media only screen and (max-width : 790px) {
    margin-right: 0;
  }
}
.subscription-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: $font-weight-normal;
}
.subscription-para {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: $font-weight-light;
}
.l-subscription-form {
  display: table;
  width: 100%;
}
.l-subscription-form-input-cell,
.l-subscription-form-button-cell {
  display: table-cell;

  @media only screen and (max-width : 640px) {
    display: block;
  }
}
.l-subscription-form-input-cell {
  padding-right: 10px;

  @media only screen and (max-width : 640px) {
    padding-right: 0;
  }
}
.l-subscription-form-button-cell {
  width: 100px;

  @media only screen and (max-width : 640px) {
    width: 100%;
  }
}
.l-subscription-form-input-cell .input,
.l-subscription-form-button-cell .button {
  display: block;
  width: 100%;
}
.l-subscription-form-input-cell .input {
  @media only screen and (max-width : 640px) {
    text-align: center;
  }
}
.l-subscription-form-button-cell .button {
  font-weight: $font-weight-bold;

  @media only screen and (max-width : 640px) {
    margin-top: 5px;
  }
}
.l-subscription-message {
  padding: 20px 0;
  background-color: $accent-color;
  color: white;
  text-align: center;
}

.l-page {
  padding: 60px 0;
}

.l-page-header {
  margin: 0;
  text-align: center;
  font-weight: $font-weight-normal;
}

.l-page-subheader {
  margin-top: 12px;
  text-align: center;
  font-weight: $font-weight-normal;
  font-size: 17px;
}

.l-footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 30px 0;
  font-size: 12px;
  text-align: center;
  color: #988f8f;

  @media only screen and (max-width : 600px) {
    padding-bottom: 78px;
  }
}

.l-footer.is-border-less {
  border: none;
}
