@import "globals/all";
@import "base";


/* -------------------------------------
    GLOBAL
    A very basic CSS reset
------------------------------------- */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  margin: 0;
  width: 100% !important;
  height: 100%;
  font-weight: 300;
  line-height: 1.4em;
  color: #000;
}

img {
  max-width: 100%;
}

table td {
  vertical-align: top;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 10px 0;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  /* 1.2em * 32px = 38.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 38px;*/
}

h2 {
  font-size: 24px;
  /* 1.2em * 24px = 28.8px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 29px;*/
}

h3 {
  font-size: 18px;
  /* 1.2em * 18px = 21.6px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 22px;*/
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

p, ul, ol {
  margin-bottom: 10px;
  font-weight: normal;
}
p li, ul li, ol li {
  margin-left: 5px;
  list-style-position: inside;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  background-color: $background-color;
}

.body-wrap {
  background-color: $background-color;
  width: 100%;
}

.container {
  display: block !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0,0,0,0.02);
}

.content-hero {
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: $accent-color;
}

.content-hero-h1 {
  margin: 20px 0 0;
}

.content-wrap {
  padding: 40px;
}

.content-block {
  padding: 0 0 20px;
}

.header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
}

.main-title {
  margin: 0 0 40px 0;
  font-size: 16px;
  font-weight: $font-weight-light;
  color: #999;
}

.footer {
  width: 100%;
  clear: both;
  color: #999;
  padding: 20px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1em;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
  color: $brand-color;
  font-weight: 700;
}

.btn-primary {
  text-decoration: none;
  color: #FFF;
  background-color: $brand-color;
  border: solid $brand-color;
  border-width: 10px 20px;
  line-height: 2em;
  /* 2em * 14px = 28px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 28px;*/
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  text-transform: capitalize;
}

/* -------------------------------------
    DIGEST MAIL STYLES
------------------------------------- */
.digest-story {
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  padding-bottom: 10px;
  font-weight: $font-weight-light;
}

.digest-story-title {
  font-size: 15px;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0;
  padding-bottom: 0;
}

.first {
  margin-top: 0;
}

.uppercased {
  text-transform: uppercase;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
}
