<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:300,400,700', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <meta name="description" content="GetRead.in is an aggregator of stories from well-read authors. Find the most in-depth and insightful stories from curated authors in one place.">

    <meta property="fb:admins" content="1578908806">
    <meta property="og:site_name" content="GetRead.in">
    <meta property="og:title" content="GetRead.in | Best stories in one place">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://www.getread.in/preview.png">
    <meta property="og:description" content="GetRead.in is an aggregator of stories from well-read authors. Find the most in-depth and insightful stories from curated authors in one place.">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="http://www.getread.in/">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@getreadin">
    <meta property="twitter:creator" content="@getreadin">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <%= csrf_meta_tags %>

    <title><%= yield(:title) + ' — ' if content_for?(:title) %> GetRead.in</title>

    <%= render('shared/google_analytics') %>
    <%= render('shared/mixpanel') %>

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-precomposed-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-precomposed-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-precomposed-76.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

    <link href="https://plus.google.com/112749793626770941211" rel="publisher" />
  </head>
  <body class="<%= 'story-listing' if controller_name == 'stories' %>">

    <%= yield %>

  </body>
</html>
